*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.nav-links{
    display: flex;
    gap: 1rem;
    list-style: none;
    
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #1D4ED8;
}
.btn{
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}


.banner{
    background-image: url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    max-width: 700px;
}

.banner-content h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.banner-content p{
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 1.6;
}


#speaker-tag{
    text-align: center;
    margin: 50px 0;
}
.speakers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
}

